.foodList {
    display: flex;
    flex-direction: row;
}

.Item {
    padding: 10px;
    border: 1px solid maroon;
    margin: 5px;
}

body {
    background-color: lightgray;
}

button {
    color:white;
    background-color:maroon;
}

h1 {
    color: maroon;
}